include ./component.pug
doctype html
html
head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width,initial-scale=1')
    script(src=common)
    script(src=js)
    body
      h1= href
      h1 全局标题
      block main
      img(src="/public/images/letter.png")
        