include ./component.pug
doctype html
html
head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width,initial-scale=1')
    script(src=common)
    script(src=js)
    body
      h1= href
      button.btn.btn-default(type="button") bootstrap按钮
      button#myButton.btn.btn-primary(type="button", data-loading-text="Loading...", autocomplete="off") 弹出按钮
      button.btn.btn-default(type="button", data-toggle="tooltip", data-placement="bottom", title="Tooltip on bottom") Tooltip on bottom
      h1 全局标题
      block main
      img(src="/public/images/letter.png")
        